/* =============================================================================
  #RESET
============================================================================= */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0;margin:0 0 1em}


/* =============================================================================
  #TOOLS
============================================================================= */
html { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*, *:before, *:after { -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit; }


/* =============================================================================
  #GENERAL
============================================================================= */
* {
  font-family: inherit;
  line-height: inherit;
  color: inherit;
}

html {
  min-height: 100%;
  height: 100%;

  scroll-behavior: smooth;

  font-size: 16px;
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', Helvetica, Arial, Verdana, sans-serif;
  color: #000000;
  font-size: 18px; font-size: 1.8rem;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

  background-color: #f4f4f4;
}



.intro {
  position: relative;
  height: calc(100vh);

  background-color: #000000;
  background-image: url('https://images.unsplash.com/photo-1516589178581-6cd7833ae3b2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80');
  background-image: url('../img/samen.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

  .intro__content {
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px;

    color: #ffffff;

    background: -webkit-linear-gradient(to bottom, rgba(0, 80, 110, 0.5), transparent);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, rgba(0, 140, 193, 0.85), rgba(0, 140, 193, 0.5)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .intro h1 {
    margin-bottom: 20px;

    font-family: 'Fredoka One', cursive;
    font-size: 32px; font-size: 3.2rem;
    text-align: center;
    text-shadow: 0 4px 4px rgba(0, 0, 0, .15);
  }

  .intro p {
    margin-bottom: 10px;

    font-size: 17px; font-size: 1.7rem;
    font-weight: 700;
    line-height: 1.2;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .25);
  }



.app {
  position: relative;
  margin-top: -80px;
  padding: 0 15px 30px 30px;
  min-height: 100vh;
  width: 100vw;

  border-radius: 40px 40px 0 0;
  background: #FDC830;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #F37335, #FDC830);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #F37335, #FDC830); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

  .app__icon {
    display: block;
    margin: 0 -15px 0 -30px;
    height: 80px;

    text-align: center;
  }

    .app__icon img {
      margin: 7px 0;
      height: 66px;
    }


.cards {
  padding-top: 15px;
}

.card {
  padding: 15px;
  width: 100%;

  background-color: #ffffff;
  box-shadow: 0 8px 14px 0 rgba(71, 0, 0, 0.1);
  border-radius: 12px;
}

.card + .card {
  margin-top: 15px;
}

.card__photo {
  height: 35vw;
  width: calc(100% + 30px);
  transform: translateX(-30px);

  background-color: #f4f4f4;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 8px;
}

.card__content {
  position: relative;
  margin-top: -20px;
}

  .card__content *:last-child {
    margin-bottom: 0;
  }

  .card__content h2 {
    display: inline-block;
    margin-right: 15px;
    padding: 6px 10px;

    font-size: 24px; font-size: 2.4rem;

    background-color: #FDC830;
  }


/* =============================================================================
  #UTILITIES
============================================================================= */
.hide {
  display: none;
}

/* Text aligns */
.ta-left { text-align: left; }
.ta-center { text-align: center; }
.ta-right { text-align: right; }


/* Put this on the wrapping div you want to clear */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after { clear: both; }

/* Responsive video - put the iFrame in a div containing this class */
.videoWrapper {
  position: relative;
  margin-bottom: 16px;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

/* =============================================================================
  #TYPOGRAPHY
============================================================================= */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;

  line-height: 1.1;
}


/* Heading 1 */
h1 {
  margin-bottom: 10px;

  font-size: 44px; font-size: 4.4rem;
}


/* Heading 2 */
h2 {
  margin-bottom: 10px;

  font-size: 32px; font-size: 3.2rem;
}

/* Heading 3 */
h3 {
  font-size: 24px; font-size: 2.4rem;
}


p {
  margin-bottom: 2rem;
}

.lead {
  font-size: 120%;
}

a {
  color: #549fd7;
}

strong {
  font-weight: 700;
}

em, i {
  font-style: italic;
}

.ol,
.ul {
  margin-bottom: 18px;
  padding-left: 30px;
}

.ul {
  list-style: disc;
}

.ol {
  list-style: decimal;
}


/* =============================================================================
  #ELEMENTS
============================================================================= */
img {
  max-width: 100%;
  font-style: italic;
  vertical-align: middle;
}

img[width],
img[height] {
  max-width: none;
}

hr {
  margin: 30px 0;

  height: 1px;

  background-color: #e6e6e6;
  border: none;
}
